services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: lab-backend
    env_file:
     - ./backend/.env
    depends_on:
     - db
    volumes:
     - ./backend:/var/www/html
    ports:
     - "8000:8000"
    networks:
     - app-network

  frontend:
    build:
      context: ./frontend
    container_name: lab-frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"
    networks:
      - app-network
    volumes:
      - ./frontend:/app 

  db:
    image: postgres:16
    container_name: lab-db
    environment:
      POSTGRES_DB: lab
      POSTGRES_USER: lab
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:

volumes:
  db_data:
